::-webkit-scrollbar {
  display: none;
}

/* sx */
#test {
  background-color: red;
  content: wowowoowo;
}

/* Extra small devices (phones, 600px and down) sm*/
@media only screen and (min-width: 576px) {
  #test {
    background-color: orange;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) md*/
@media only screen and (min-width: 770px) {
  #test {
    background-color: yellow;
  }
}

/* Medium devices (landscape tablets, 768px and up) lg*/
@media only screen and (min-width: 995px) {
  #test {
    background-color: green;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  #test {
    background-color: blue;
  }
}

/* ----------------------------------------------------------------------------------- */

body {
  font-family: "Encode Sans", sans-serif;
  font-weight: normal;
  color: white;
}

.section-name {
  text-align: center;
  padding: 6rem;
}

.tech-icon {
  font-size: 2rem;
  padding: 8px;
}

.tech-name {
  font-size: 1.2rem;
  padding: 8px;
}

/* ----------------------------------------------------------------------------------- */

header {
  background-image: url("/images/blob-haikei-phone.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 3rem;
}

@media only screen and (min-width: 576px) {
  header {
    background-image: url("/images/blob-haikei.svg");
    padding-bottom: 8rem;
  }
}

/* ----------------------------------------------------------------------------------- */

#profile-image {
  width: 60%;
  margin-top: 3.5rem;
}

@media only screen and (min-width: 576px) {
  #profile-image {
    width: 30vw;
    margin-top: 9vw;
    margin-right: 3vw;
  }
}

/* ----------------------------------------------------------------------------------- */

#profile-name {
  font-size: 11vw;
  margin-top: 8vw;
}

@media only screen and (min-width: 576px) {
  #profile-name {
    font-size: 10vw;
  }
}

/* ----------------------------------------------------------------------------------- */

#skill-section {
  background-image: url("/images/stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 3rem;
}


.tech-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-card:hover {
  transition: transform .5s;
  transform: scale(1.5);
}

@media only screen and (min-width: 576px) {
  .tech-card {
    margin-bottom: 2.5rem;
  }
}